<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ config['name'] }}</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="css/homed.css" rel="stylesheet" />
        {% if config['custom_css'] %}<link href="custom/css/custom.css" rel="stylesheet" />{% endif %}
    </head>
    <body class="{{ ui_mode }}">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">{{ config['name'] }}</a>
                {% if user['username'] and config['auth_ui_link'] != False %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user['name'] }} ({{ user['username'] }}) <i class="icon-user fas fa-user-secret"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li>
                                    <div class="control-darkmode-wrap form-check form-switch">
                                        <input id="control-darkmode" class="control-darkmode form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                        <label class="dark-mode-label form-check-label" for="flexSwitchCheckDefault">Dark Mode</label>
                                    </div>
                                </li>
                                <li><a class="dropdown-item" href="{{ config['auth_ui_link'] }}">Log In &#47; Out</a></li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item">homed v{{ version }}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </nav>
        <!-- Page content -->
        <div class="container">
            {% if config["motd"]["enabled"] %}
                <div class="alert alert-{{ config['motd']['type'] }} homed-motd" role="alert">
                    {% if "title" in config["motd"] %}
                        <h5>{{ config["motd"]["title"] }}</h5>
                    {% endif %}
                    {{ config["motd"]["message"] }}
                </div>
            {% endif %}
            <div class="row align-items-start">
                {% for section in sections %}
                    {% set section_css_classes = section["css_classes"]|join(" ") %}
                    {% if "type" in section: %}
                        {% if section["type"] == "links" %}
                            {% include "links.html" with context %}
                        {% elif weather["system_on"] and section['type'] == "weather": %}
                            {% include "weather.html" with context %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <span id="footer-text" class="text-muted"></span>
            </div>
        </footer>
        <!-- /Page content -->
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/fa-all.min.js"></script>
        <script src="js/homed.js"></script>
        {% if config['custom_js'] %}<script src="custom/js/custom.js"></script>{% endif %}
    </body>
</html>

