<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ name }}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/fa-all.min.css" rel="stylesheet"> <!--load all styles -->
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">{{ name }}</a>
                {% if user['username'] and auth_ui_link != False %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="icon-user fas fa-user-secret"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ auth_ui_link }}">Log In &#47; Out</a></li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item">Current User:<br>{{ user['name'] }} ({{ user['username'] }})</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
          <div class="row align-items-start">
            {% for section in sections %}
            <div class="col-lg-4 link-section">
              <div class="section-name">{{ section["name"] }}</div>
              <ul class="list-group">
                {% for link in section["links"] %}
                <li class="list-group-item d-flex align-items-center">
                  <a class="align-items-center justify-content-center section-link stretched-link" href="{{ link['link'] }}"{% if open_links_in_new_window %} target="_blank"{% endif %}>{{ link["name"] }}</a>
                  {% if link['icon'] %}
                    <img class="section-link-icon" src="{{ link['icon'] }}">
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="js/fa-all.min.js"></script>
    </body>
</html>

