<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ config['name'] }}</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="css/homed.css" rel="stylesheet" />
        <link href="custom/css/custom.css" rel="stylesheet" />
    </head>
    <body class="{{ ui_mode }}">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">{{ config['name'] }}</a>
                {% if user['username'] and config['auth_ui_link'] != False %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="icon-user fas fa-user-secret"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li>
                                    <div class="control-darkmode-wrap form-check form-switch">
                                        <input id="control-darkmode" class="control-darkmode form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                        <label class="dark-mode-label form-check-label" for="flexSwitchCheckDefault">Dark Mode</label>
                                    </div>
                                </li>
                                <li><a class="dropdown-item" href="{{ config['auth_ui_link'] }}">Log In &#47; Out</a></li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item">Current User:<br>{{ user['name'] }} ({{ user['username'] }})</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </nav>
        <!-- Page content -->
        <div class="container">
          <div class="row align-items-start">
            {% for section in sections %}
                {% if "type" in section: %}
                    {% if weather["system_on"] and section['type'] == "weather": %}
                    <div class="col-lg-4 link-section">
                        <div class="section-name">{{ section["name"] }}</div>
                            <a href="{{ weather['forecast'] }}"{% if config['open_links_in_new_window'] %} target="_blank"{% endif %}><img src="{{ weather['radar'] }}" width="100%"></a>
                        {% if weather["alerts"] %}
                            {% for alert in weather["alerts"]: %}
                                <div class="alert alert-warning alert-dismissable" role="alert">
                                    <small>
                                        <div class="weather-alert-title">
                                            <i class="fas fa-exclamation-triangle"></i>{{ alert['title'] }}
                                        </div>
                                        <button id="weather-alert-details" type="button" class="btn btn-sm btn-warning" data-bs-toggle="popover" title="{{ alert['effective'] }}" data-bs-content="{{ alert['summary'] }}" data-bs-trigger="focus">Details</button>
                                        <a href="{{ alert['link'] }}" type="button" class="btn btn-sm btn-info"{% if config['open_links_in_new_window']  %} target="_blank"{% endif %}>NWS</a>
                                    </small>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% endif %}
                {% else %}
                    <div class="col-lg-4 link-section">
                      <div class="section-name">{{ section["name"] }}</div>
                      <ul class="list-group">
                        {% for link in section["links"] %}
                        <li class="list-group-item d-flex align-items-center">
                          <a class="align-items-center justify-content-center section-link stretched-link" href="{{ link['link'] }}"{% if config['open_links_in_new_window']  %} target="_blank"{% endif %}>{{ link["name"] }}</a>
                            <div class="section-link-icon-wrap">
                          {% if link['icon'] %}
                            {% if link['icon'][:3] in ['fab', 'far', 'fas', 'fal'] %}
                                <i class="section-link-icon {{ link['icon'] }}"></i>
                            {% else %}
                                    <img class="section-link-icon" src="{{ link['icon'] }}">
                            {% endif %}
                            </div>
                          {% endif %}
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                {% endif %}
            {% endfor %}
          </div>
        </div>
        <!-- /Page content -->
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/fa-all.min.js"></script>
        <script src="js/homed.js"></script>
        <script src="custom/js/custom.js"></script>
    </body>
</html>

